:root {
  --lj-background: #f5f5f5;
  --lj-background-blue: #304ffe;
  --lj-button-blue: hsl(218, 100%, 58%);
}

html {
  min-width: 200px;
  background-color: var(--lj-background-blue);
}

h1, h2, h3, h4 {
  font-family: 'Oleo Script', Arial, sans-serif;
  margin: 0;
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

header {
  width: 100%;
  text-align: center;
  color: var(--lj-background);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  background-color: var(--lj-background-blue);
  justify-content: space-around;
  align-items: center;
}

.lj-button {
  align-items: flex-start;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: var(--lj-button-blue);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 2px;
  padding: 7px 12px 5px 12px;
  align-self: stretch;
  margin-left: auto;
}

.button-icon {
  margin-right: 20px;
}

.button-signin {
  margin-bottom: 10px;
}
